html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="py-3")
                div(class="container px-4 mx-auto")
                    div(class="relative py-18 px-6 bg-blue-500 rounded-2xl overflow-hidden")
                        img(class="absolute top-0 left-0 h-full w-full object-cover", src="trizzle-assets/images/background-banner-squares.png", alt="")
                        div(class="relative max-w-sm mx-auto text-center mb-12")
                            h3(class="text-3xl font-bold text-white mb-3") NYC Tech 
                            |       Networking Events  
                            p(class="font-medium text-blue-200 mb-6") Curated Weekly by Diana C Peterson
                            a(class="inline-block w-full sm:w-auto px-16 py-3 leading-6 text-center font-semibold text-blue-50 bg-gray-500 hover:bg-gray-600 transition duration-200 rounded-lg", href="#") Subscribe
            section(class="py-3")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap -mx-3 -mb-8")
                        div(class="w-full md:w-1/2 lg:w-1/4 px-3 mb-8")
                            div(class="max-w-sm mx-auto h-full px-4 pt-6 pb-24 bg-gray-500 rounded-xl")
                                div(class="flex items-center justify-between mb-3")
                                    div(class="flex items-center")
                                        h3(class="text-lg text-white font-semibold mr-2") Monday
                                div(class="h-1 w-full mb-4 rounded-full bg-purple-500")
                                a(class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200", href="#")
                                    h4(class="text-white font-semibold leading-6 mb-1") TBD
                                    p(class="text-xs text-gray-300 leading-normal mb-10") More to come!
                                    div(class="pt-4 border-t border-gray-500")
                                        div(class="flex flex-wrap items-center justify-between -m-2")
                                            div(class="w-auto p-2")
                                                div(class="flex items-center p-2 bg-gray-500 rounded-md")
                                                    svg(width="14", height="14", viewbox="0 0 14 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M11.0001 2.33337H3.00008C2.2637 2.33337 1.66675 2.93033 1.66675 3.66671V11.6667C1.66675 12.4031 2.2637 13 3.00008 13H11.0001C11.7365 13 12.3334 12.4031 12.3334 11.6667V3.66671C12.3334 2.93033 11.7365 2.33337 11.0001 2.33337Z", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M9.66675 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M4.3335 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M1.66675 6.33337H12.3334", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M6.3335 9H7.00016", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M7 9V11", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                    span(class="ml-2 text-xs font-medium text-gray-200") 4/10
                                            div(class="w-auto p-2")
                                                div(class="flex h-full items-center")                           
                                                |                           
                                                |                         
                        div(class="w-full md:w-1/2 lg:w-1/4 px-3 mb-8")
                            div(class="max-w-sm mx-auto h-full px-4 pt-6 pb-24 bg-gray-500 rounded-xl")
                                div(class="flex items-center justify-between mb-3")
                                    div(class="flex items-center")
                                        h3(class="text-lg text-white font-semibold mr-2") Tuesday
                                div(class="h-1 w-full mb-4 rounded-full bg-blue-500")
                                a(class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200", href="#")
                                    h4(class="text-white font-semibold leading-6 mb-1") Women NYC Network - Connect Your Future To NYC's Future
                                    div(class="flex items-center mb-4")                     
                                    |                     
                                    |                   
                                    p(class="text-xs text-gray-300 leading-normal mb-10") With Joan Fallon (Founder/CEO, Curemark), Tinia Pina (CEO, Renuble), Alicia Nieves (Emmy Award Winning Journalist & Anchor, FINTECH TV) at NY Genome Center, 101 6th Ave
                                    div(class="pt-4 border-t border-gray-500")
                                        div(class="flex flex-wrap items-center justify-between -m-2")
                                            div(class="w-auto p-2")
                                                div(class="flex items-center p-2 bg-gray-500 rounded-md")
                                                    svg(width="14", height="14", viewbox="0 0 14 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M11.0001 2.33337H3.00008C2.2637 2.33337 1.66675 2.93033 1.66675 3.66671V11.6667C1.66675 12.4031 2.2637 13 3.00008 13H11.0001C11.7365 13 12.3334 12.4031 12.3334 11.6667V3.66671C12.3334 2.93033 11.7365 2.33337 11.0001 2.33337Z", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M9.66675 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M4.3335 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M1.66675 6.33337H12.3334", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M6.3335 9H7.00016", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M7 9V11", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                    span(class="ml-2 text-xs font-medium text-gray-200") April 11 2:30PM
                                            div(class="w-auto p-2")
                                                div(class="flex h-full items-center")                           
                                                |                           
                                                |                         
                        div(class="w-full md:w-1/2 lg:w-1/4 px-3 mb-8")
                            div(class="max-w-sm mx-auto h-full px-4 pt-6 pb-24 bg-gray-500 rounded-xl")
                                div(class="flex items-center justify-between mb-3")
                                    div(class="flex items-center")
                                        h3(class="text-lg text-white font-semibold mr-2") Wednesday
                                div(class="h-1 w-full mb-4 rounded-full bg-yellow-500")
                                a(class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200", href="#")
                                    h4(class="text-white font-semibold leading-6 mb-1") Implement Login Digital Social Networking Meetup
                                    p(class="text-xs text-gray-300 leading-normal mb-10") Sucker Punch, 344 3rd Ave
                                    div(class="pt-4 border-t border-gray-500")
                                        div(class="flex flex-wrap items-center justify-between -m-2")
                                            div(class="w-auto p-2")
                                                div(class="flex items-center p-2 bg-gray-500 rounded-md")
                                                    svg(width="14", height="14", viewbox="0 0 14 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M11.0001 2.33337H3.00008C2.2637 2.33337 1.66675 2.93033 1.66675 3.66671V11.6667C1.66675 12.4031 2.2637 13 3.00008 13H11.0001C11.7365 13 12.3334 12.4031 12.3334 11.6667V3.66671C12.3334 2.93033 11.7365 2.33337 11.0001 2.33337Z", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M9.66675 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M4.3335 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M1.66675 6.33337H12.3334", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M6.3335 9H7.00016", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M7 9V11", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                    span(class="ml-2 text-xs font-medium text-gray-200") April 8 8:PM
                                            div(class="w-auto p-2")
                                                div(class="flex h-full items-center")                           
                                                |                           
                                                |                         
                                |                 
                                |                 
                                a(class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200", href="#")
                                    h4(class="text-white font-semibold leading-6 mb-1") Founders & Startups Happy Hour @ Little Rebel
                                    div(class="pt-4 border-t border-gray-500")
                                        div(class="flex flex-wrap items-center justify-between -m-2")
                                            div(class="w-auto p-2")
                                                div(class="flex items-center p-2 bg-gray-500 rounded-md")
                                                    svg(width="14", height="14", viewbox="0 0 14 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M11.0001 2.33337H3.00008C2.2637 2.33337 1.66675 2.93033 1.66675 3.66671V11.6667C1.66675 12.4031 2.2637 13 3.00008 13H11.0001C11.7365 13 12.3334 12.4031 12.3334 11.6667V3.66671C12.3334 2.93033 11.7365 2.33337 11.0001 2.33337Z", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M9.66675 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M4.3335 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M1.66675 6.33337H12.3334", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M6.3335 9H7.00016", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M7 9V11", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                    span(class="ml-2 text-xs font-medium text-gray-200") April 12 5PM
                                            div(class="w-auto p-2")                         
                                            |                       
                        div(class="w-full md:w-1/2 lg:w-1/4 px-3 mb-8")
                            div(class="max-w-sm mx-auto h-full px-4 pt-6 pb-24 bg-gray-500 rounded-xl")
                                div(class="flex items-center justify-between mb-3")
                                    div(class="flex items-center")
                                        h3(class="text-lg text-white font-semibold mr-2") Thursday
                                div(class="h-1 w-full mb-4 rounded-full bg-blue-500")
                                a(class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200", href="Sour%20Mouse%20110%20Delancey%20Street%20New%20York,%20NY%2010002")
                                    h4(class="text-white font-semibold leading-6 mb-1") Tech and Startup Networking Mixer
                                    div(class="flex items-center mb-4")                     
                                    |                     
                                    |                   
                                    p(class="text-xs text-gray-300 leading-normal mb-10") First Thursdays at Sour Mouse 110 Delancey Street New York, NY 10002
                                    div(class="pt-4 border-t border-gray-500")
                                        div(class="flex flex-wrap items-center justify-between -m-2")
                                            div(class="w-auto p-2")
                                                div(class="flex items-center p-2 bg-gray-500 rounded-md")
                                                    svg(width="14", height="14", viewbox="0 0 14 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M11.0001 2.33337H3.00008C2.2637 2.33337 1.66675 2.93033 1.66675 3.66671V11.6667C1.66675 12.4031 2.2637 13 3.00008 13H11.0001C11.7365 13 12.3334 12.4031 12.3334 11.6667V3.66671C12.3334 2.93033 11.7365 2.33337 11.0001 2.33337Z", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M9.66675 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M4.3335 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M1.66675 6.33337H12.3334", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M6.3335 9H7.00016", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M7 9V11", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                    span(class="ml-2 text-xs font-medium text-gray-200") April 6 5PM-
                                |                 
                                a(class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200", href="#")
                                    h4(class="text-white font-semibold leading-6 mb-1") Volunteer with WWCode | Empower Your Community
                                    div(class="pt-4 border-t border-gray-500")
                                        div(class="flex flex-wrap items-center justify-between -m-2")
                                            div(class="w-auto p-2")
                                                div(class="flex items-center p-2 bg-gray-500 rounded-md")
                                                    svg(width="14", height="14", viewbox="0 0 14 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M11.0001 2.33337H3.00008C2.2637 2.33337 1.66675 2.93033 1.66675 3.66671V11.6667C1.66675 12.4031 2.2637 13 3.00008 13H11.0001C11.7365 13 12.3334 12.4031 12.3334 11.6667V3.66671C12.3334 2.93033 11.7365 2.33337 11.0001 2.33337Z", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M9.66675 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M4.3335 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M1.66675 6.33337H12.3334", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M6.3335 9H7.00016", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M7 9V11", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                    span(class="ml-2 text-xs font-medium text-gray-200") April 6 12pm - Virtual
                                            div(class="w-auto p-2")                         
                                            |                       
                                |                 
                                a(class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200", href="#")
                                    h4(class="text-white font-semibold leading-6 mb-1") New York Tech & Beer® - Happy Hour @ Barcade Chelsea
                                    p(class="text-xs text-gray-300 mb-4") 148 W 24th St · New York, NY
                                    div(class="pt-4 border-t border-gray-500")
                                        div(class="flex flex-wrap items-center justify-between -m-2")
                                            div(class="w-auto p-2")
                                                div(class="flex items-center p-2 bg-gray-500 rounded-md")
                                                    svg(width="14", height="14", viewbox="0 0 14 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M11.0001 2.33337H3.00008C2.2637 2.33337 1.66675 2.93033 1.66675 3.66671V11.6667C1.66675 12.4031 2.2637 13 3.00008 13H11.0001C11.7365 13 12.3334 12.4031 12.3334 11.6667V3.66671C12.3334 2.93033 11.7365 2.33337 11.0001 2.33337Z", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M9.66675 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M4.3335 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M1.66675 6.33337H12.3334", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M6.3335 9H7.00016", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M7 9V11", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                    span(class="ml-2 text-xs font-medium text-gray-200") April 6  7PM-
                                            div(class="w-auto p-2")
                                                div(class="flex h-full items-center")                           
                                                |                           
                                                |                         
            section(class="py-3")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap -mx-3 -mb-8")
                        div(class="w-full md:w-1/2 lg:w-1/4 px-3 mb-8")
                            div(class="max-w-sm mx-auto h-full px-4 pt-6 pb-24 bg-gray-500 rounded-xl")
                                div(class="flex items-center justify-between mb-3")
                                    div(class="flex items-center")
                                        h3(class="text-lg text-white font-semibold mr-2") Friday
                                div(class="h-1 w-full mb-4 rounded-full bg-purple-500")
                                a(class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200", href="#")
                                    h4(class="text-white font-semibold leading-6 mb-1") Funders Friday
                                    p(class="text-xs text-gray-300 leading-normal mb-10") Fireside talk w/Erica Jain from Healthie at 16 W 22nd St, 8th Floor
                                    div(class="pt-4 border-t border-gray-500")
                                        div(class="flex flex-wrap items-center justify-between -m-2")
                                            div(class="w-auto p-2")
                                                div(class="flex items-center p-2 bg-gray-500 rounded-md")
                                                    svg(width="14", height="14", viewbox="0 0 14 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M11.0001 2.33337H3.00008C2.2637 2.33337 1.66675 2.93033 1.66675 3.66671V11.6667C1.66675 12.4031 2.2637 13 3.00008 13H11.0001C11.7365 13 12.3334 12.4031 12.3334 11.6667V3.66671C12.3334 2.93033 11.7365 2.33337 11.0001 2.33337Z", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M9.66675 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M4.3335 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M1.66675 6.33337H12.3334", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M6.3335 9H7.00016", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M7 9V11", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                    span(class="ml-2 text-xs font-medium text-gray-200") April 7 - 8:30AM-9:30AM
                                            div(class="w-auto p-2")
                                                div(class="flex h-full items-center")                           
                                                |                           
                                                |                         
                        div(class="w-full md:w-1/2 lg:w-1/4 px-3 mb-8")
                            div(class="max-w-sm mx-auto h-full px-4 pt-6 pb-24 bg-gray-500 rounded-xl")
                                div(class="flex items-center justify-between mb-3")
                                    div(class="flex items-center")
                                        h3(class="text-lg text-white font-semibold mr-2") Saturday
                                    div
                                        button(class="inline-block mr-2 text-gray-400 hover:text-gray-300")                       
                                        |                     
                                        a(class="inline-block py-1 text-gray-400 hover:text-gray-300", href="#")                       
                                        |                     
                                div(class="h-1 w-full mb-4 rounded-full bg-blue-500")
                                a(class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200", href="#")
                                    h4(class="text-white font-semibold leading-6 mb-1") NY Tech Mixer
                                    p(class="text-xs text-gray-300 leading-normal mb-10") Outdoor Mixer in Central Park
                                    div(class="pt-4 border-t border-gray-500")
                                        div(class="flex flex-wrap items-center justify-between -m-2")
                                            div(class="w-auto p-2")
                                                div(class="flex items-center p-2 bg-gray-500 rounded-md")
                                                    svg(width="14", height="14", viewbox="0 0 14 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M11.0001 2.33337H3.00008C2.2637 2.33337 1.66675 2.93033 1.66675 3.66671V11.6667C1.66675 12.4031 2.2637 13 3.00008 13H11.0001C11.7365 13 12.3334 12.4031 12.3334 11.6667V3.66671C12.3334 2.93033 11.7365 2.33337 11.0001 2.33337Z", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M9.66675 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M4.3335 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M1.66675 6.33337H12.3334", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M6.3335 9H7.00016", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M7 9V11", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                    span(class="ml-2 text-xs font-medium text-gray-200") April 8 1:00 PM to 3:00 PM 
                                            div(class="w-auto p-2")
                                                div(class="flex h-full items-center")                           
                                                |                           
                                                |                         
                        div(class="w-full md:w-1/2 lg:w-1/4 px-3 mb-8")
                            div(class="max-w-sm mx-auto h-full px-4 pt-6 pb-24 bg-gray-500 rounded-xl")
                                div(class="flex items-center justify-between mb-3")
                                    div(class="flex items-center")
                                        h3(class="text-lg text-white font-semibold mr-2") Sunday
                                    div
                                        button(class="inline-block mr-2 text-gray-400 hover:text-gray-300")                       
                                        |                     
                                div(class="h-1 w-full mb-4 rounded-full bg-yellow-500")
                                a(class="block p-4 mb-4 bg-gray-600 rounded-xl hover:bg-gray-700 transition duration-200", href="#")
                                    h4(class="text-white font-semibold leading-6 mb-1") Drink Coffee & Write Code 
                                    div(class="flex items-center mb-4")                     
                                    |                     
                                    |                   
                                    p(class="text-xs text-gray-300 leading-normal mb-10") This is an example task that can be used within a Kanban system.
                                    div(class="pt-4 border-t border-gray-500")
                                        div(class="flex flex-wrap items-center justify-between -m-2")
                                            div(class="w-auto p-2")
                                                div(class="flex items-center p-2 bg-gray-500 rounded-md")
                                                    svg(width="14", height="14", viewbox="0 0 14 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M11.0001 2.33337H3.00008C2.2637 2.33337 1.66675 2.93033 1.66675 3.66671V11.6667C1.66675 12.4031 2.2637 13 3.00008 13H11.0001C11.7365 13 12.3334 12.4031 12.3334 11.6667V3.66671C12.3334 2.93033 11.7365 2.33337 11.0001 2.33337Z", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M9.66675 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M4.3335 1V3.66667", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M1.66675 6.33337H12.3334", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M6.3335 9H7.00016", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M7 9V11", stroke="#3D485B", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                                                    span(class="ml-2 text-xs font-medium text-gray-200") April 9 3pm-6pm - Virtual
                                            div(class="w-auto p-2")
                                                div(class="flex h-full items-center")                           
                                                |                           
                                                |                         
                        div(class="w-full md:w-1/2 lg:w-1/4 px-3 mb-8")               
                        |             
        script(src="https://cdn.jsdelivr.net/npm/apexcharts")
        script(src="js/charts-demo.js")
